
body {
    margin:0px;
    font-family:Roboto;
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.header {
    background-color:#1F2937;
}

.content {
    max-width:70%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:auto;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px 10px;
}

.intro {
    background-color:#1F2937;
    padding: 100px 0px;
}

.inter {
    max-width:70%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    gap:100px;
}

#tx {

}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.subtxt {
    font-size:18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

button {
    background-color: #3882F6;
    font-family:Roboto;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 120px;
    border: 0px;
    border-radius: 10px;
}

#imag {
    width:450px;
    height:auto;
}

.info {
    max-width:60%;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:auto;
    padding: 50px 0px 100px 0px;
    gap: 20px;
}

h2 {
    size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cen {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#intimg {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.sub {
    color: #1F2937;
    text-align:center;
}

.quote {

}

.sign {

}

#box {

}

.footer {
    background-color:#1F2937;
}